<!DOCTYPE html>
<html>

<head>
    <!-- SEO -->
    <meta name="description"
        content="Age of Coders is an online coding competition held and made by IECSE, the official computer science club of MIT Manipal. A 2 hour coding event, where you solve questions to conquer and hold different planets. Rack your brains at light speed and rule the galaxy!">
    <meta property="og:url" content="https://aoc.iecsemanipal.com/">
    <meta property="og:type" content="website">
  <meta property=”og:image” content=”../logos/mstile-150x150.png” />
  <meta property="og:title" content="Age of Coders">
    <meta property="og:description"
        content="Age of Coders is an online coding competition held and made by IECSE, the official computer science club of MIT Manipal. A 2 hour coding event, where you solve questions to conquer and hold different planets. Rack your brains at light speed and rule the galaxy!">
    <!-- <meta name="keywords"
content="IECSE,Genesis,Genesis19,Genesis2019,MIT,Manipal,Manipal Institute of Technology,design_pilot,arav,reitweic,@design_pilot,Genesis 2019,Genesis 19"> -->
    <meta name="author" content="IECSE">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords"
        content="Age,of,coders,Age of coders,aoc,online coding competition,planets,iecse,IECSE,IECSE coding competition,MIT,Manipal,Manipal Institute of Technology, prom, prometheus,PROMETHEUS,PROMETHEUS'20,PROMETHEUS2020">
    <!-- <title>Age of Coders</title> -->
    <!-- <link rel="icon" href="../logos/Groupfav3.png" sizes="any" type="image/png" /> -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../logos/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../logos/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../logos/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../logos/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../logos/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../logos/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="../logos/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="../logos/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../logos/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../logos/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../logos/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="../logos/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="../logos/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="../logos/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="../logos/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="../logos/mstile-310x310.png" />
    <!-- seo ends -->
    <title>Register</title>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="stylesheet" href="/css/register.css">
    <!-- <link rel="icon" href="../logos/Groupfav7.svg" sizes="any" type="image/svg+xml"> -->
    <!-- <link rel="icon" href="../logos/Groupfav3.png" sizes="any" type="image/png"> -->
</head>

<body>
    <!-- <img id="stars" src="/logos/Group.png"> -->
    <div class="flexbox">
        <div class="header">
            <img src="/logos/Group 28AOC.png" class="aoc-logo">
            <img src="/logos/fullnew.svg" alt="" class='iecse_logo'>
        </div>
        <span id="title">REGISTRATION</span>
        <span class="note">Registrations close on 6th May, 2020 at 5:30pm.</span>
        <div class="formDiv">

            <form autocomplete="off" id="regitser_form">
                <div class="cont0">
                    <span id="title1">REGISTRATION</span>
                    <div class="note1">Registrations close on 6th May, 2020 at 5:30pm.</div>

                    <div class="cont1">
                        <input id="name" type="text" name="name" placeholder="NAME" onblur="this.placeholder='NAME'"
                            onfocus="this.placeholder=''" required>
                        <input id="uname" name="username" type="text" placeholder="USERNAME"
                            onblur="this.placeholder='USERNAME'" onfocus="this.placeholder=''" required>
                        <input id="password" class='ps' name="pass" type="password" placeholder="PASSWORD"
                            onblur="this.placeholder='PASSWORD'" onfocus="this.placeholder=''" required>
                        <input id="password-con" class='ps' name="passcon" type="password"
                            placeholder="CONFIRM PASSWORD" onblur="this.placeholder='RE-ENTER PASSWORD'"
                            onfocus="this.placeholder=''" required>
                    </div>
                    <div class="cont2"><input id="email" name="email" type="email" placeholder="EMAIL-ID"
                            onblur="this.placeholder='EMAIL-ID'" onfocus="this.placeholder=''" required>
                        <input id="phno" name="phno" type="text" pattern="\d*" minlength="10" maxlength="10"
                            minlength="10" placeholder="Phone Number" onblur="this.placeholder='Phone Number'"
                            onfocus="this.placeholder=''" required>
                        <input id="regno" name="regno" type="text" pattern="\d*" placeholder="REGISTRATION NUMBER"
                            onblur="this.placeholder='REGISTRATION NUMBER'" onfocus="this.placeholder=''" minlength="9"
                            maxlength="9" required>
                        <div class="g-recaptcha" data-sitekey="6LeEJfEUAAAAALx3_xlj_Up37e4OK6HjJ0KETrtY"></div>
                    </div>
                </div>
                <button id="btn" type="submit">REGISTER</button>
            </form>
        </div>
        <!-- <div class="planet">
            <img id="ellipse" src="/logos/login-planet.png">
        </div> -->
    </div>
    <script>
        document.getElementById('regitser_form').addEventListener('submit', onSubmit);

        function onSubmit(e) {
            const url = window.location.origin + "/login";
            e.preventDefault();
            // This data is not being used in the back end (Only the token), but have it here for you to experiment
            const name = document.getElementById('name').value;
            const username = document.getElementById('uname').value;
            const password = document.getElementById('password').value;
            const email = document.getElementById('email').value;
            const phno = document.getElementById('phno').value;
            const regno = document.getElementById('regno').value;
            const captcha = document.querySelector('#g-recaptcha-response').value;
            const senddata = {
                name,
                username,
                pass: password,
                email,
                phno,
                regno,
                captcha
            };
            fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    credentials: "include",
                    body: JSON.stringify(senddata)
                })
                .then(res => {
                    // console.log(res);
                    return res.json();
                })
                .catch(err => console.log(err))
                .then(function (json) {
                    alert(json.msg);
                    grecaptcha.reset();
                    if (json.success === true)
                        window.location.replace(url);
                })
                .catch(err => console.log(err))
        }
    </script>
</body>
<script>
    window.addEventListener('load', () => {
        var btn = document.querySelector('#btn');
        btn.addEventListener('click', (e) => {
            var pass = document.querySelector('#password').value;
            var pass_c = document.querySelector('#password-con').value;
            if (pass_c !== pass) {
                alert("Password doesn't match");
                e.preventDefault();
                return false;
            }

        });
    });
</script>

</html>