<!DOCTYPE html>
<html>

<head>
  <!-- SEO -->
  <meta name="description"
    content="Age of Coders is an online coding competition held and made by IECSE, the official computer science club of MIT Manipal. A 2 hour coding event, where you solve questions to conquer and hold different planets. Rack your brains at light speed and rule the galaxy!">
  <meta property="og:url" content="https://aoc.iecsemanipal.com/">
  <meta property="og:type" content="website">
  <meta property=”og:image” content=”../logos/mstile-150x150.png” />
  <meta property="og:title" content="Age of Coders">
  <meta property="og:description"
    content="Age of Coders is an online coding competition held and made by IECSE, the official computer science club of MIT Manipal. A 2 hour coding event, where you solve questions to conquer and hold different planets. Rack your brains at light speed and rule the galaxy!">
  <!-- <meta name="keywords"
  content="IECSE,Genesis,Genesis19,Genesis2019,MIT,Manipal,Manipal Institute of Technology,design_pilot,arav,reitweic,@design_pilot,Genesis 2019,Genesis 19"> -->
  <meta name="author" content="IECSE">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords"
    content="Age,of,coders,Age of coders,aoc,online coding competition,planets,iecse,IECSE,IECSE coding competition,MIT,Manipal,Manipal Institute of Technology, prom, prometheus,PROMETHEUS,PROMETHEUS'20,PROMETHEUS2020">
  <!-- <title>Age of Coders</title> -->
  <!-- <link rel="icon" href="../logos/Groupfav3.png" sizes="any" type="image/png" /> -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../logos/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../logos/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../logos/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../logos/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../logos/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../logos/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../logos/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../logos/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="../logos/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="../logos/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="../logos/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="../logos/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="../logos/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="../logos/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="../logos/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="../logos/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="../logos/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="../logos/mstile-310x310.png" />
  <!-- seo ends -->
  <link rel="stylesheet" href="./css/rules.css" />
  <title>Rules</title>
</head>

<body>
  <img src="/logos/fullnew.svg" alt="" class='iecse_logo'>

  <div class="header">
    <img src="/logos/Group 28AOC.png" class="aoc-logo" />

  </div>
  <div class="container">
    <div class="header1">
      <img src="/logos/fullnew.svg" alt="" class='iecse_logo1'>
      <img src="/logos/Group 28AOC.png" class="aoc-logo1" />
    </div>
    <h1>Rules</h1>
    <div class="contact">
      For any queries you may contact: <br>
      Devang: 8860870960; <br>
      Ameya: 9820108977; <br>
      Deepak: 7619362211;
    </div>
    <ol class="rules">
      <li>This is an individual-player event.</li>
      <li>
        Registrations close at 5:59 pm on 6<sup>th</sup> May. Participants can login to the website once the contest
        starts ie 6:00 pm, 6<sup>th</sup> May.
      </li>
      <li>
        Plagiarism is strictly prohibited and participants can be asked to show their code for certain questions. Any
        form of malpractice can lead to a player being disqualified.
      </li>
      <li>
        There are <strong>three</strong> attempts to every question, and each attempt has a
        <strong>different</strong> test case. You have to submit the output of your code for the given input test case.
      </li>
      <li>
        Each planet has a set of questions of varying difficulty.
        In order to hold a particular planet, you need to obtain the highest score in that planet.</li>
      <li>
        There can be multiple players holding a planet, each of them having the highest score for that planet.
      </li>
      <li>
        Once you start holding a planet, i.e., you have the maximum points on that planet, the amount of time you hold
        the
        planet for starts contributing to your points. If multiple players are holding a planet, points for holding that
        planet are split between them equally.
      </li>
      <li>
        For every 10 second of holding a region, 1 point gets split between all holders equally.
      </li>
    </ol>
    <% if (showcontinue === true) { %>
    <a href="/regions" class="btn-div2 right"><button id="btn">Continue></button></a>
    <% } else { %>
    <% } %>
    <div class="btn-div left">
      <a href="/login" id="btn">
        < BACK</a> </div> </div> </body> </html>